
* {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;;
}

body {
	font-family: sans-serif;
	background: linear-gradient(45deg, #A7383E, #FD8C92 ) center center no-repeat;
	border: black 3px solid;
	min-height: 100vh;
}

a {
    color: black;
}

img {
    width: 100px;
}

form {
	margin-bottom: 100px;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

textarea {
	width: 100%;
}

.small_ticket {
	border: black solid 1px;
	padding: 5px;
	width: 80%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.nav-list {
	padding: 1rem 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 18px;
}

.nav-item {
	margin-right: 2rem;
	font-weight: 600;
	color: black;
}

.nav-item:nth-child(1) {
	margin-right: auto;
	margin-left: 10rem;
}

.header {
    text-align: center;
    border-bottom: black 3px solid;
    padding-bottom: 15px;
}
.row-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.column-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.element {
	margin: 5px;
}

.flux-size {
	width: 75%;
}

.ticket {
	background: #3E8D8D;
	box-shadow: 10px 5px 5px #0D3F3F;
}

.review {
	background: #BADE61;
	box-shadow: 10px 5px 5px #4D6315;
}

.ticket, .review {
    border-radius: 10px ;
    padding: 5px;
    margin: 10px;
}

.ticket_span, .review_span {
	font-weight: bold;
}

.subscriptions, .subscribers, .ticket, .review {
	width: 80%;
	border: black solid 3px;
}

.table {
	width: 100%;
	border: solid black 3px;
}

.left {
	margin-left: 10px;
	margin-right: auto;
}

.right {
	margin-left: auto;
	margin-right: 10px;
}

.ticket-left {
	display: flex;
	align-items: flex-start;
	border: solid red 3px;
}

figcaption {
transition:all 1s;
opacity:0;
background-color: lightgreen;
text-align:center;
position:absolute;
bottom:0;
left:0;
right:0;
border:3px solid black;
}

input {
	width: 100%;
}

.button {
	width: 20%;
}

.infos:hover figcaption {
opacity:1;
}

#redirection {
	text-decoration: underline;
	font-weight: bold;
}