{% extends "review/base.html" %}

{% block title %}
<div class="">
    <ul class="header nav-list">
        <li class="nav-item"><h1>{{ page_title }}</h1></li>
        <li class="nav-item"><a href="{% url 'flux' %}">Flux</a></li>
        <li class="nav-item"><a href="{% url 'personal_posts' %}">Posts</a></li>
        <li class="nav-item"><a href="{% url 'subscription' %}">Abonnements</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}">Se déconnecter</a></li>
    </ul>
</div>
{% endblock %}

{% block contenu %}

<div class="column-container">
    <h2>Modifier un ticket</h2>
    <form method="post"  enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form %}
            {% if field.label != "Couverture :" %}
                <h3>{{field.label}}</h3>
                {{field}}
                <br>
            {% else %}
                <h3>{{field.label}}</h3>
                <div class="row-container">
                    <div class="column-container">
                        <label for="old_image">Image actuelle :</label>
                        <img id="old_image" src="{{ instanced_ticket.image.url }}" alt="instanced_ticket.name">
                    </div>
                    <div class="column-container">
                        <label for="new_image">Nouvelle image :</label>
                        <input id="new_image" type="file" name="image" accept="image/*">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <input class="button" type="submit" value="Enregistrer les modifications">
    </form>
</div>

{% endblock %}
