{% extends "review/base.html" %}

{% block title %}
<div class="">
    <ul class="header nav-list">
        <li class="nav-item"><h1>{{ page_title }}</h1></li>
        <li class="nav-item"><h2>Bonjour {{ user.username }} !</h2></li>
        <li class="nav-item"><a href="{% url 'flux' %}">Flux</a></li>
        <li class="nav-item"><a href="{% url 'personal_posts' %}">Posts</a></li>
        <li class="nav-item"><a href="{% url 'subscription' %}">Abonnements</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}">Se déconnecter</a></li>
    </ul>
</div>
{% endblock %}

{% block contenu %}
<div class="column-container">
    <div class="row-container flux-size">
        <button class="element"><a href="{% url 'ticket' %}">Demander une critique</a></button>
        <button class="element"><a href="{% url 'review' %}">Créer une critique</a></button>
    </div>
    <div class="column-container flux-size">
        {% if tickets %}
            {% for ticket in tickets %}
                <div class="column-container ticket">
                    <p><span class="ticket_span">Titre du livre :</span> {{ ticket.title }}</p>
                    <p><span class="ticket_span">Description :</span> {{ ticket.description }}</p>
                    <p><span class="ticket_span">Auteur :</span> {{ ticket.user }}</p>
                    {% load static %}
                    <img src="{% static 'review/images/' %}{{ ticket.image }}" alt="{{ ticket.title }}">
                    <button class="element"><a href="{% url 'review response' %}">Créer une critique</a></button>
                </div>
            {% endfor %}
        {% else %}
            <span>There is no ticket</span>
        {% endif %}
        {% if reviews %}
            {% for review in reviews %}
                <li>{{ review.ticket }}</li>
            {% endfor %}
        {% else %}
            <span>There is no review</span>
        {% endif %}
    </div>

</div>
{% endblock %}