{% extends "review/base.html" %}

{% block title %}
<div class="">
    <ul class="header nav-list">
        <li class="nav-item"><h1>{{ page_title }}</h1></li>
        <li class="nav-item"><a href="{% url 'flux' %}">Flux</a></li>
        <li class="nav-item"><a href="{% url 'personal_posts' %}">Posts</a></li>
        <li class="nav-item"><a href="{% url 'subscription' %}">Abonnements</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}">Se déconnecter</a></li>
    </ul>
</div>
{% endblock %}

{% block contenu %}

<div class="column-container">
    <h2>Créer une critique</h2>

    {% if instanced_ticket %}

     <div class="column-container ticket">
         <p><span class="ticket_span">Titre du livre :</span> {{ instanced_ticket.title }}</p>
         <p><span class="ticket_span">Description :</span> {{ instanced_ticket.description }}</p>
         <p><span class="ticket_span">Auteur du ticket :</span> {{ instanced_ticket.user }}</p>
         <img src="{{ instanced_ticket.image.url }}" alt="{{ instanced_ticket.title }}">
     </div>

    <form method="post" action="{% url 'review' ticket_id=instanced_ticket.id %}" enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in review_form %}
        <p>
            {% if field.label != "Note :" %}
                <h3>{{field.label}}</h3>
                {{field}}
                <br>
            {% else %}
                <h3>{{field.label}}</h3>
                <div class="row-container">
                    {% for i in range %}
                    <label for="{{i}}">{{i}}</label>
                    <input type="radio" value="{{i}}" name="rating" id="{{i}}">
                    {% endfor %}
                </div>
            {% endif %}
        </p>
        {% endfor %}

        <input class="button" type="submit" >
     </form>

    {% else %}

     <form method="post" action="{% url 'review' %}" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="small_ticket">
        {% for field in ticket_form %}
            <p>
                <h3>{{field.label}}</h3>
                 {{field}}
                <br>
            </p>
        {% endfor %}
        </div>
        {% for field in review_form %}
        <p>
            {% if field.label != "Note :" %}
                <h3>{{field.label}}</h3>
                {{field}}
                <br>
            {% else %}
                <h3>{{field.label}}</h3>
                <div class="row-container">
                    {% for i in range %}
                    <label for="{{i}}">{{i}}</label>
                    <input type="radio" value="{{i}}" name="rating" id="{{i}}">
                    {% endfor %}
                </div>
            {% endif %}
        </p>
        {% endfor %}

        <input class="button" type="submit" >
     </form>

    {% endif %}

</div>

{% endblock %}