{% extends "review/base.html" %}

{% block title %}
<div class="">
    <ul class="header nav-list">
        <li class="nav-item"><h1>{{ page_title }}</h1></li>
        <li class="nav-item"><a href="{% url 'flux' %}">Flux</a></li>
        <li class="nav-item"><a href="{% url 'personal_posts' %}">Posts</a></li>
        <li class="nav-item"><a href="{% url 'subscription' %}">Abonnements</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}">Se déconnecter</a></li>
    </ul>
</div>
{% endblock %}

{% block contenu %}

<div class="column-container">
    {{ following }}

</div>


<div class="column-container">
    <h3>Suivre d'autres utilisateurs</h3>
    <div class="search row-container">
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in form %}
            <p>
                <h3>{{field.label}}</h3>
                {{field}}
                <br>
            </p>
            <input class="element" type="submit" value="Suivre">
            {% endfor %}
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <h3>Abonnements</h3>

    <div class="subscriptions column-container">

        {% if user_follows %}

            {% for user_follow in user_follows %}
                <div class="row-container table">
                    <div class="element left">{{ user_follow.followed_user }}</div>
                    <button class="element right" type="submit"><a href="{% url 'unsubscribe' followed_user_id=user_follow.followed_user_id %}">Se désabonner</a></button>
                </div>
            {% endfor %}

        {% else %}

        <p>Vous n'êtes abonné à aucun utilisateur</p>

        {% endif %}
    </div>

    <h3>Abonnés</h3>

    <div class="subscribers column-container">

        {% if followers %}

            {% for follower in followers %}
            <div class="row-container table">
                <div class="element left">{{ follower.user }}</div>
            </div>
            {% endfor %}

        {% else %}

        <p>Personne ne suit votre profil</p>

        {% endif %}

    </div>
</div>

{% endblock %}